@model WebMarket.Models.Category

@{
    ViewData["Title"] = "Show - Category " + Model.Name;
}

<h1>نمایش</h1>

<div>
    <h4>دسته بندی @Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            نام
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            ترتیب نمایش
        </dt>
        <dd class = "col-sm-10">
            @Model.DisplayOrder
        </dd>
        <dt class = "col-sm-2">
            تاریخ ساخت
        </dt>
        <dd class = "col-sm-10">
            @Model.CreatedDate
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Category" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-block btn-warning">ویرایش</a> |
    <a asp-controller="Category" asp-action="Index" class="btn btn-block btn-primary">بازگشت به لیست</a>
</div>
